

.btn {
  border-width: 2px;
  padding: 5px 10px;
  background: white;
  min-width: 70px;
}

.btn-solid {
  border-style: solid;
}

.btn-solid:hover {
  border-style: dashed;
}

.btn-dashed {
  border-style: dashed;
}

.btn-dashed:hover {
  border-style: solid;
}
