<button *ngIf="type === 'button'" (click)="onClick()" class="btn btn-{{ border }} flex-start" type="{{type}}" [disabled]="disabled">
  {{ title }}
</button>
<button *ngIf="type === 'submit'" class="btn btn-{{ border }} flex-start" type="{{type}}" [disabled]="disabled">
  {{ title }}
</button>