.form-input {
  width: 100%;
  border-radius: 4px;
  border-width: 1px;
  line-height: 30px;
}

.form-label {
  flex: 1;
  align-content: flex-start;
  padding-top: 7px;
  min-width: 50px;
}

.error-caption {
  font-size: 10px;
  color: red;
}