<div class="row" style="justify-content: center; padding: 5px;">
  <div class="form-label">
    <span>{{label}}:</span>
  </div>
  <div style="flex: 4; align-content: flex-start;" [formGroup]="parentForm">
    <input class="form-input" type="text" [formControlName]="control">
    <label class="error-caption" *ngIf="hasError('required')">{{label}} is required</label>
  </div>
</div>