<div class="form-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <app-input label="title" [parentForm]="form" control="title"></app-input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-input label="description" [parentForm]="form" control="description"></app-input>
      </div>
    </div>
    <div formGroupName="due_date">
      <div class="row">
        <div class="col">
          <app-input label="year" [parentForm]="form.get('due_date')" control="year"></app-input>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-input label="month" [parentForm]="form.get('due_date')" control="month"></app-input>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-input label="day" [parentForm]="form.get('due_date')" control="day"></app-input>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-input label="hour" [parentForm]="form.get('due_date')" control="hour"></app-input>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-input label="minute" [parentForm]="form.get('due_date')" control="minute"></app-input>
        </div>
      </div>
    </div>
    <app-button [type]="'submit'" [disabled]="!form.valid">Submit</app-button>
  </form>
</div>