.form-body {
  border-width: 3px;
  border-color: #999;
  border-style: solid;
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
}