/* You can add global styles to this file, and also import other style files */

body {
  background: #eee;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.flex-end {
  align-self: flex-end;
}

.flex-start {
  align-self: flex-start;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.col-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.col-2 {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.col-3 {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.col-4 {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.col-5 {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.col-6 {
  flex: 6;
  display: flex;
  flex-direction: column;
}