.card-body {
  border-width: 3px;
  border-color: #999;
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
}
.card-body-dashed {
  border-style: dashed;
}
.card-body-solid {
  border-style: solid;
}
.card-header {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 25px;
}
.card-title {
  flex: 3;
  font-size: 14px;
  font-weight: bold;
}
.card-date {
  flex: 1;
  text-align: right;
  font-size: 12px;
  font-style: italic;
}
.card-description {
  flex: 3;
  min-height: 50px;
  font-size: 12px;
}

.card-actions {
  flex: 1;
  display: flex;
  flex-direction: row;
}
