<div
  class="card-body {{ card.is_done ? 'card-body-solid' : 'card-body-dashed' }}"
>
  <div class="card-header">
    <div class="card-title">
      {{ card.title }}
    </div>
    <div class="card-date">
      {{ card.due_date | timestampToDate | date: "y/M/d h:m" }}
    </div>
  </div>
  <div class="card-description">
    {{ card.description }}
  </div>
  <div class="card-actions">
    <div
      style="
        flex: 1;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
      "
    >
      <app-button
        *ngIf="!card.is_done"
        [onClick]="card.setDone"
        [title]="'doing!'"
        [border]="'solid'"
      ></app-button>
      <app-button
        *ngIf="card.is_done"
        [onClick]="card.setDoing"
        [title]="'done!'"
        [border]="'dashed'"
      ></app-button>
    </div>
    <div
      style="
        flex: 1;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
      "
    >
      <app-button
        [onClick]="remove"
        [title]="'remove!'"
        [border]="'solid'"
      ></app-button>
    </div>
  </div>
</div>
